# new branch
# 排除数据和模型
data/
models/*.pth
models/*.onnx
*.weights

sample_data/
scene_details/

# 排除 Python 缓存
__pycache__/
*.py[cod]

# 排除环境和日志
.venv/
.conda/
.env
logs/
build/
.codex/
.vscode/
.agents/
devel/